# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folders
venv/
env/

# Django
db.sqlite3
*.log

# Environment / secrets
.env
*.env

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
