aiosmtplib==5.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
asgiref @ file:///C:/b/abs_ae1n0p_8_w/croot/asgiref_1724072476516/work
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.3
Django @ file:///C:/b/abs_732pccxzov/croot/django_1745263601709/work
django-csp==4.0
djangorestframework==3.16.1
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
fastapi==0.121.3
h11==0.16.0
idna==3.11
packaging==26.2
paypal-checkout-serversdk==1.0.3
paypalhttp==1.0.1
pillow==12.0.0
pyasn1==0.6.2
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
PyJWT==2.12.1
pyngrok==8.0.0
pyOpenSSL==25.3.0
python-decouple==3.8
python-dotenv==1.2.1
python-jose==3.5.0
PyYAML==6.0.3
requests==2.32.5
rsa==4.9.1
six==1.17.0
sniffio==1.3.1
sqlparse @ file:///C:/b/abs_68npyz0s6_/croot/sqlparse_1734704476369/work
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
uvicorn==0.38.0
