{% extends "app/base.html" %}   # 10% - šablonu mantošana;
{% load static %}
{% block title %}Address{% endblock title %}

{% block main-content %} 
    <div class="container my-5">
        
        <div class="row">
            <h3>Welcome, {{request.user}}!</h3>            
         
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Create a Profile</a></li>
                    <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-success">Customers</a></li>
                </ul>
            </div>  
            
            <div class="col-sm-8 offset-sm-1">
                <div class="row">
                    {% for ad in add %}
                        <div class="col-sm-6">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h3>Customer {{forloop.counter}}</h3>
                                    <p><strong>Name</strong>: {{ad.name}}</p>
                                    <p><strong>Street:</strong> {{ad.locality}}</p>
                                    <p><strong>Mobile:</strong> {{ad.mobile}}</p>
                                    <p><strong>City:</strong> {{ad.city}}</p>
                                    <p><strong>Country:</strong> {{ad.country}}</p>
                                    <p><strong>Post code:</strong> {{ad.zipcode}}</p>
                                   <div class="d-flex justify-content-center gap-2">
                                        <a href="{% url 'updateaddress' pk=ad.id %}" class="btn btn-success btn-sm flex-fill text-center">Edit</a>

                                        <form action="{% url 'deleteaddress' pk=ad.id %}" method="POST" class="flex-fill m-0 d-flex">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm flex-fill">Delete</button>
                                        </form>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </div>  
{% endblock main-content %}