{% extends "app/base.html" %}   # 10% - šablonu mantošana;
{% load static %}
{% load custom_filters %}
{% block title %}Cart{% endblock title %}

{% block main-content %} 
    <div class="container mt-5 mb-5">
        <div class="container my-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% if cart %}
            <h1 class="text-center mb-5">Shopping Cart</h1>
            <div class = "row">
                <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h3>Cart</h3>
                        {% for item in cart %}
                        <div class="row ">
                            <div class="col-sm-3 text-center align-self-center">
                                <a href="{% url 'product' pk=item.product.id %}">
                                    <img src="{{ item.product.product_image.url }}" alt="{{ item.product.title }}"
                                        class="img-fluid img-thumbnail shadow-sm" height="150" width="150">
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <div>
                                    <h5>
                                        <a href="{% url 'product' pk=item.product.id %}" class="text-decoration-none text-dark">
                                            {{ item.product.title }}</a>
                                    </h5>
                                    <p class="mb-2 text-muted small">{{ item.product.description }}</p>
                                    <p class="text-muted small">
                                        Available: {{ item.product.stock_quantity }}
                                    </p>
                                    <div class="my-3">
                                        <span>Quantity :</span>
                                        <a class="minus-cart btn" 
                                            pid="{{ item.product.id }}"
                                            {% if item.quantity == 1 %}data-disabled="true"{% endif %}
                                            style="{% if item.quantity == 1 %}pointer-events:none; opacity:0.5;{% endif %}"> 
                                            <i class="fas fa-minus-square fa-lg"></i>
                                        </a>
                                        <span id="quantity-{{ item.product.id }}">{{ item.quantity }}</span>
                                        <a class="plus-cart btn" pid={{item.product.id}}><i class="fas fa-plus-square fa-lg"></i></a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a class="remove-cart btn btn-sm btn-secondary py-1 px-2" pid="{{ item.product.id }}">
                                            Remove item
                                        </a>

                                        <p class="mb-0 text-end">
                                            <small>€{{ item.product.discounted_price }} / unit</small><br>

                                           <strong class="item-total" data-product="{{ item.product.id }}">
                                                EUR {{ item.product.discounted_price|mul:item.quantity|floatformat:2 }}
                                            </strong>
                                        </p>
                                    </div>
                                </div>
                                <br/>
                            </div>
                            <hr class="text-muted">
                        </div>                       
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3>TOTAL:</h3>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0" >Amount<span id="amount">EUR {{amount}}</span></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">Shipping<span>EUR {{shipping_amount}}</span></li>
                            <br/>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total</strong> <small>(including VAT)</small>
                                </div>
                                <span id="totalamount">EUR {{ total_amount }}</span>
                            </li>
                        </ul>
                        <div class="d-grid"><a href="{% url 'checkout' %}" class="btn btn-success">Place Order</a></div>
                    </div>
                </div>
            </div>
            </div>
        {% else %}
            <h1 class="text-center mb-5">Your Cart is Empty.</h1>
            <div class="d-flex justify-content-center">
                <a href="/" class="btn btn-success">Continue Shopping</a>
        {% endif %} 
    </div>

{% endblock main-content %}
{% block scripts %}
    <script src="{% static 'app/js/cart.js' %}"></script>
{% endblock scripts %}