{% extends "app/base.html" %}   # 10% - šablonu mantošana;
{% load static %}
{% block title %}Confirm Reset{% endblock title %}

{% block main-content %} 
     <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Centers the form in the middle -->
                <h2 class="text-center mb-4">Password Change Confirm</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    
                    {% for fm in form %}
                        <div class="mb-3">
                            {{ fm.label_tag }} {{ fm }}
                            <small class="text-danger">{{ fm.errors|striptags }}</small>
                        </div>
                    {% endfor %}
                    
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if messages %}
                        {% for message in messages %}
                            <p class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} my-3">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock main-content %}