.goodnessseccont img{
    width: 100%;
}

.goodnesssec a{
    text-decoration: none;
}

.mlkpro{
    color: #636362;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
    width: 43%;
    margin: 0 auto;
    text-align: center;
}
 